APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=axislab
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120

MERCADO_PAGO_PUBLIC_KEY=TEST-7bd3e3b5-24b6-46e5-a86b-a09285e29b51
MERCADO_PAGO_ACCESS_TOKEN=TEST-4583584561411498-062608-dded4ef10c13fa0416f487b23e9dd073-3469803304